<p style="text-align: justify;">
    Роботи знайшли зашифроване повідомлення.На даний момент ми не можемо розшифрувати його,
    але ми можемо зробити перші кроки до цього. У вас є набір "слів" в нижньому регістрі, і кожне слово містить символи в "алфавітному порядку" (це не типовий алфавітний порядок, а новий і інший порядок)ю
    Нам потрібно визначити порядок символів з кожного «слова» і створити єдине «слово» з усіма цими символами, розташувавши їх у новому алфавітному порядку.
    У деяких випадках, якщо ми не можемо визначити порядок для декількох символів, слід використовувати традиційний <a target="_blank" href="http://en.wikipedia.org/wiki/Classical_Latin_alphabet#Classical_Latin_alphabet">алфавітний порядок латиниці</a>.
    Наприклад:
    Дано слова "acb", "bd", "zwa". Як ми бачимо "z" і "w" повинні бути перед "a", а "d" після "b". Отже, результат "zwacbd".


<p><strong>Вхідні дані:</strong> Слова як {% if is_js %}масив{% else %}список{% endif %} рядків.</p>

<p><strong>Вихідні дані:</strong> Порядок символів як рядок.</p>

<div class="for_info_only">
    <p>
        <strong>Приклади:</strong>
    </p>
    <pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>
</div>

<p class="for_info_only">
    <strong>Сфера застосування:</strong>
    <i>
        Ця концепція може бути корисною у криптографії, допоможе тобі знаходити закономірності та моделі в природному тексті та шифрі.
    </i>

</p>

<p><strong>Передумови:</strong>
    <ul>
        <li><i>для кожного тесту може бути лише одне рішення;</i></li>
        <li><i>0 < |words| < 10.</i></li>
    </ul>
</p>
